<div class="container">
    <div class="row">
      <div class="col-md-6 mt-5 mx-auto">
        <form (submit)="register()">
          <h1 id="title" class="h3 mb-3 font-weight-normal"><b>REGISTER</b></h1>
          <div  id="da"   class="form-group">
            <label id="label" for="firstname">First name</label>
            <input type="text" class="form-control" name="first_name"  [(ngModel)]="credentials.first_name" required>
          </div>
          <div  id="da"  class="form-group">
            <label  id="label" for="lastname">Last name</label>
            <input type="text" class="form-control" name="last_name"  [(ngModel)]="credentials.last_name" required>
          </div>
          <div  id="da"  class="form-group">
            <label  id="label" for="email">Email address</label>
            <input type="email" class="form-control" name="email" [(ngModel)]="credentials.email" required>
          </div>

          <div id="da" class="form-group">
            <label id="label"  for="registration_number">Numar Matricol</label>
            <input type="text" class="form-control" name="nr_mat"  [(ngModel)]="credentials.registration_number" required>
          </div>

          <div id="da" class="form-group">
            <label  id="label" for="year">An</label>
            <select type="text" class="form-control" name="an"[(ngModel)]="credentials.year">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
            </div>

          <div id="da" class="form-group">
            <label label  id="label" for="group">Grupa</label>
            <select type="text" class="form-control" name="grupa" [(ngModel)]="credentials.group">
              <option value="A1">A1</option>
              <option value="A2">A2</option>
              <option value="A3">A3</option>
              <option value="A4">A4</option>
              <option value="A5">A5</option>
              <option value="A6">A6</option>
              <option value="B1">B1</option>
              <option value="B2">B2</option>
              <option value="B3">B3</option>
              <option value="B4">B4</option>
              <option value="B5">B5</option>
              <option value="B6">B6</option>
              <option value="E1">E1</option>
              <option value="E1">E2</option>
            </select>
            </div>

          <div  id="da"  class="form-group">
            <label  id="label" for="password">Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="credentials.password" required>
          </div><br>
          <button id="button" type="submit" class="btn btn-lg btn-primary btn-block">REGISTER</button>
        </form><br><br>
      </div>
    </div>
  </div>
